extends layout


block layout-content
     
    h1.Banner Prefabulator
        span(style='font-size: 0.3em') #{version}
       
    nav(class="navbar navbar-expand-lg navbar-light bg-light w-100" role="navgiation")
        ul(class="container")
            li#ControlsNavLi(class="topnav navbar-brand col text-center active")
                a#ControlsNav Control
            li#PrefabsNavLi(class="topnav navbar-brand col text-center")
                a#PrefabsNav Spawn | Find
            li#BuilderNavLi(class="topnav navbar-brand col text-center")
                a#BuilderNav Save | Load                      

    div#SelectedPrefabHistory.Message.container.p-0
        div.ControlsMini.d-flex
            span.px-2.small
                b Selected:
            select#SelectedPrefabSelect.form-control(style="flex:1")
                if selectedPrefab
                    option() #{selectedPrefab}
            a#CopySelectedPrefab.ControlsMini.text-center.px-2.ml-2
                i.fas.fa-copy(title="Clone Selected Prefab")
            //-a#FavoriteSelectedPrefab.ControlsMini.text-center.px-2
                //-i.fas.fa-heart(title="Add to Favorites")

            a#DestroySelectedPrefab.ControlsMini.text-center.px-2
                i.fas.fa-trash-alt(title="Delete Selected Prefab")

    include Controls.pug
    include Prefabs.pug
    include Builder.pug
    include ServerConfig.pug
    include CommandTerminal.pug
    include ServerMessages.pug

    input#ConfigurePlayersSelectedPlayer(type="hidden")
    input#ConfigurePlayersActiveForm(type="hidden")
    include PlayerConfig.pug
    include ConfigurePlayers.pug
    
    footer(class="footer mt-auto no-gutters py-2 row")
        div.ControlsMini.col-auto.mr-auto.px-4
            div.row
                span#ConnectedTo(class="col text-center align-middle px-4")
                    b#ServerName #{serverName}
            div.row
                span.col-auto.text-center.align-middle.ml-auto
                    a#CommandTerminalNav(class="topnav")
                        i(class="fas fa-laptop-code p-2" title="Commands")
                span.col-auto.text-center.align-middle
                    a#ConfigurePlayersNav(class="topnav")
                        i(class="fas fa-users p-2" title="Players Config")
                span.col-auto.text-center.align-middle
                    a#ServerMessagesNav(class="topnav")
                        i(class="fas fa-comment-dots p-2" title="Server Messages")
                span.col-auto.text-center.align-middle
                    a#ConfigureServerNav(class="topnav")
                        i(class="fas fa-cog p-2" title="Configure Server")
                span.col-auto.text-center.align-middle.mr-auto
                    a#SwitchServer(href="/servers" class="text-center")
                        i(class="fas fa-sign-out-alt p-2" title="Switch Server")
        div.ControlsMini.col-auto.ml-auto.px-4
            div.row
                span.col.px-4.text-right.align-bottom
                    b #{serverUsername}
            div.row
                span.col-auto.text-right.align-bottom.px-2.ml-auto
                    a#PlayerConfigNav(class="topnav")
                        input#PlayerConfigUserId(type="hidden" value=serverUserId)
                        input#PlayerConfigUsername(type="hidden" value=serverUsername)
                        i(class="fas fa-user-cog p-2" title="My Config")
                span.col-auto.text-right.align-bottom.px-2.mr-auto
                    a#LogoutDoor(href="/login")
                        i(class="fas fa-door-open p-2" title="Logout")
