extends layout


block layout-content
     
    h1.Banner Prefabulator
        
    nav(class="navbar navbar-expand-lg navbar-light bg-light w-100" role="navgiation")
        ul(class="container")
            li#ControlsNavLi(class="topnav navbar-brand col text-center active")
                a#ControlsNav Control
            li#SelectNavLi(class="topnav navbar-brand col text-center")
                a#SelectNav Select
            li#SearchNavLi(class="topnav navbar-brand col text-center")
                a#SearchNav Search                      

    div(class="container")
        span#ClosestPrefab(class="col text-truncate") Selected: 
            label#selectedPrefab 
                if selectedPrefab
                    b #{selectedPrefab}
                else
                    b None selected
        a#DestroySelectedPrefab(class="col text-center")
            i(class="fas fa-trash-alt", alt="Delete Selected Prefab")

    include Controls.pug
    include SelectPrefabs.pug        
    include SearchPrefabs.pug
    include ServerConfig.pug

    input#ConfigurePlayersSelectedPlayer(type="hidden")
    input#ConfigurePlayersActiveForm(type="hidden")
    include PlayerConfig.pug
    include ConfigurePlayers.pug
    
    footer(class="footer mt-auto no-gutters py-2 row")
        div.ControlsMini.col-6.mr-auto.px-4
            div.row
                span#ConnectedTo(class="col text-center align-middle px-4")
                    b#ServerName #{serverName}
            div.row
                span.col-auto.text-center.align-middle.ml-auto
                    a#ConfigurePlayersNav(class="topnav")
                        i(class="fas fa-users" alt="Players Online")
                span.col-auto.text-center.align-middle
                    a#ConfigureServerNav(class="topnav")
                        i(class="fas fa-cog" alt="Configure Server")
                span.col-auto.text-center.align-middle.mr-auto
                    a#SwitchServer(href="/servers" class="text-center")
                        i(class="fas fa-sign-out-alt" alt="Switch Server")
        div.ControlsMini.col-auto.ml-auto.px-4
            div.row
                span.col.px-4.text-right.align-bottom
                    b #{serverUsername}
            div.row
                span.col-auto.text-right.align-bottom.px-2.ml-auto
                    a#PlayerConfigNav(class="topnav")
                        i(class="fas fa-user-cog" id=serverUsername name=serverUsername)
                span.col-auto.text-right.align-bottom.px-2.mr-auto
                    a#LogoutDoor(href="/login")
                        i(class="fas fa-door-open")            
