extends layout


block layout-content

    h1.Banner Server Select

    div#ServerSelect.Message.mt-3.pt-2.pb-2(class="container")
        form(method='POST' action='/servers')
            input#selectedServer.form-control(type="hidden" name="selectedServer" value=null)
            div.d-flex.pt-3
                i(class="fas fa-search pr-2 pt-2")
                div.w-100.pb-1.mb-1(style="flex:1")
                    input#ServerSearch.form-control.w-100(type="text" placeholder="Search Servers")

            div.ContentRow(class='row')
                a#SelectServerSort(data-itemtype="servers" class="col-7 bg-light text-left ml-auto mr-2") Server
                    i#SortServerIcon(class="fas fa-sort pl-2 pt-2")
                a#SelectServerSort(data-itemtype="players" class="col-4 bg-light text-center mr-auto ml-auto") Players
                    i#SortPlayerIcon(class="fas fa-sort pl-2 pt-2")
            div.ContentRow(class="row")
                div#SelectServerList(data-sortdirection="none").list-group
                    each server in serverList
                        div(class="ServerListItem list-group-item list-group-item-action text-left"
                            id=server.id name=server.name
                            data-playercount=server.online_players.length) 
                            div(class="ServerListItemName col-9") #{server.name}
                            div(class="ServerListItemOnlineCount col-3") [ #{server.online_players.length} ]

            button#ConnectToServer.btn.btn-primary.mt-3(type="submit") Connect
            div.ContentRow.row.mt-2.mb-0.py-3
                #error
                    if error
                        p.text-danger #{error}

